* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #15161bc5;
}

.head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background:linear-gradient(to left, #15161bc7, rgb(44, 30, 30));
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    color: white;
    padding-block: 1rem;
}

.page_name {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    align-items: center;
    margin-left: 3vw;
}

.page_name img {
    width: 20%;
    border-radius: 50%;
}

.page_name span {
    color: rgb(209, 51, 46);
}

.navbar ul {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    margin-right: 5vw;
}

.navbar ul li {
    list-style: none;
    font-weight: bold;
    font-size: large;
    padding: 1rem;
}

.navbar li:hover {
    cursor: pointer;
    background-color:#64687a59;
    border-radius: 10px;
}

.navbar li:active {
    scale: 0.95;
}

header {
    text-align: center;
    margin-top: 2vh;
}

header h1 {
    color: white;
    margin-bottom: 2vh;
    font-size: 300%;
}
label{
    font-size: x-large;
    color: white;
}
#mode {
    border: none;
    width: 100px;
    height: 6vh;
    border-radius: 10px;
    color: white;
    background-color:#15161bc7;
    text-align: center;
    font-size: larger;
}

.show_how_to_play, .show_about {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.925);
    display: flex;
    justify-content: center;
    align-items: center;
}

.show_how_to_play .show_content, .show_about .show_about_content {
    background: white;
    border-radius: 10px;
    width: 50%;
    height: 57vh;
    text-align: center;
    z-index: 100;
    color: white;
    background-color: #393b47c5;
}
.show_content h2, .show_about_content h2{
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);   
}
.show_content p, .show_about_content p{
    width: 80%;
    font-size: larger;
    margin-left: 5vw;
}
.show_content span{
    font-size: larger;
    color: rgb(255, 0, 0);
}
.show_how_to_play button, .show_about button {
    background: #4CAF50;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.start-container {
    margin-top: 10vh;
    margin-left: 38vw;
    width: 25%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.start-button {
    width: 100%;
    padding-block: 6vh;
    font-size: 2rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: transform 0.2s;
}

.start-button:hover {
    transform: scale(1.02);
    background-color: #459c49;
}

.countdown {
    font-size: 5rem;
    color: white;
    margin-top: 15px;
    display: none;
}


#input-field{
    margin-left: 30vw;
    width: 40%;
    height: 10vh;
    text-align: center;
    border-radius: 10px;
    border: none;
    background-color: #24252eef;
    color: white;
    font-size: xx-large;
}
#word-display{
    border: 1px solid red;
}