* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14pt;
    font-family: cursive;
}

:root {
    --primary-color: #cd853f;
    --secondary-color: teal;
    --text-color: #d3d3d3;
    --dark-color: #1c1c1c;
    --ombre-color: #f0c14b80;
}

.loading-body {
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: var(--dark-color);
    color: var(--text-color);
}

.container {
    text-align: center;
    width: 60%;
    position: relative;
}

.start-title {
    font-size: 36px;
    margin-bottom: 20px;
    color: var(--primary-color);
    text-shadow: 0 0 10px #f0c14b80;
    animation: zoom 2s infinite;
}

@keyframes zoom {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }
}

.touch {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 60px;
    height: 50px;
    font-size: 18px;
    background-color: #deb887;
    color: #1a1a1a;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    opacity: 0;
    transition: all 0.3s;
}

.clicked {
    animation: clicked 2s infinite alternate ease-in-out;
    animation-delay: 0s;
}

@keyframes clicked {
    0% {
        opacity: 0;
        transform: rotate(0) translateX(0);
    }
    100% {
        opacity: 1;
        background-color: var(--primary-color);
        box-shadow: 0 0 20px #ffffff80;
        transform: rotate(-90deg) translateX(-100%);
        scale: 1.2;
    }
}

option {
    background-color: var(--primary-color);
}

.counter {
    font-size: 20px;
}

.count-a-rebour {
    font-size: 25pt;
}

.loading-bar-back {
    position: absolute;
    height: 8px;
    background-color: var(--text-color);
    width: 100%;
    border-radius: 5px;
    border: none;
}

.loading-bar-front {
    position: absolute;
    height: 8px;
    background-color: var(--primary-color);
    width: 10%;
    border-radius: 5px;
    border: none;
}

.letter {
    position: relative;
}

.current::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: var(--secondary-color);
    animation: jirama 1s infinite;
}

@keyframes jirama {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}

.correct {
    color: var(--primary-color);
}

.incorrect {
    color: red;
}

.mot {
    padding: 2px 5px;
    border-radius: 3px;
    transition: all 0.2s;
}

.mot-actuelle {
    background-color: rgba(240, 193, 75, 0.1);
    border-radius: 4px;
    padding: 2px 4px;
}

/*    interface du jeu de frappe*/
.type_it_body {
    margin: 0;
    background-color: var(--dark-color);
    height: 100vh;
}

header {
    box-shadow: 1px 1px 5px var(--text-color);
    color: var(--secondary-color);
    height: 11vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 5px 40px;
}

header .title {
    color: var(--text-color);
    font-size: 2rem;
}

.title-style {
    background-color: var(--primary-color);
    color: var(--dark-color);
    padding: 5px;
    border-radius: 4px;
}

#mode {
    background-color: var(--secondary-color);
    border: none;
    outline: none;
    border-radius: 4px;
    color: var(--dark-color);
    font-weight: bold;
    padding: 0.2rem 0.4rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 89vh;
    padding: 10px;
    color: var(--text-color);
}

#word-display {
    box-shadow: 0 0 5px 2px #fafafa1a;
    border-radius: 8px;
    width: 90%;
    height: 40%;
    padding: 10px;
}

#input-field {
    border: none;
    outline: none;
    border-radius: 4px;
    height: 40px;
    width: 90%;
    background-color: rgba(226, 221, 208, 0.1);
    border: 2px solid rgba(255, 183, 0, 0.1);
    text-align: center;
    color: var(--text-color);
    margin-top: 40px;
}

.touch-clavier {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 85%;
    margin-top: 10px;
    transform: translateX(9%);
}